h5py
nltk
numpy
scikit-learn
scipy
six
spacy
torch --hash https://download.pytorch.org/whl/cu124
torchvision --hash https://download.pytorch.org/whl/cu124
torchaudio --hash https://download.pytorch.org/whl/cu124
tqdm
click
gdown